.vscode/**
.github/**
.vscode-test/**
# out/**
.npm-cache/**
node_modules/**
.test-out/**
test-fixtures/**
coverage/**
src/**
esbuild.js
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.log
*.vsix
.DS_Store
Thumbs.db
