.vscode/**
.github/**
.vscode-test/**
# out/**
node_modules/**
.test-out/**
test-fixtures/**
src/**
esbuild.js
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
