body.vscode-dark #editNodeContainer {
    align-items: center;
}

body.vscode-dark #editNodeContainer #outerDiv {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 10%;
}

body.vscode-dark #editNodeContainer #innerDiv {
    display: flex;
    flex-direction: column;
}


body.vscode-dark #editNodeContainer #input-group1 {
    padding: 12px;
    display: flex;
    flex-direction: column;
    background-color: #252728;
}

body.vscode-dark #editNodeContainer #input-group1 input {
    /* 修改宽度和高度 */

    margin-top: 10px;
    margin-bottom: 15px;
    height: 26px;
    width: 95%;
    border: none;
    box-shadow: none;
    outline-color: #007FD4;
    outline-width: 1px;
    border-radius: 2px;
    background-color: #3C3C3C;
    color: #C4C4C4;
    /* 更改为任何你喜欢的颜色 */


    /* 添加一些内边距以便文本看起来更舒适 */
    padding: 0 10px;
}

body.vscode-dark #editNodeContainer #input-group2 {
    padding: 12px;
    background-color: #252728;
}

body.vscode-dark #editNodeContainer #input-group2 #propsLabel {
    margin-bottom: 10px;
}

body.vscode-dark #editNodeContainer #input-group2 #props {
    display: flex;
    flex-direction: column;
}

body.vscode-dark #editNodeContainer #input-group2 #props input {
    /* 修改宽度和高度 */

    margin: 5px;
    height: 26px;
    width: 30%;
    border: none;
    box-shadow: none;
    outline-color: #007FD4;
    outline-width: 1px;
    border-radius: 2px;
    background-color: #3C3C3C;
    color: #C4C4C4;
    /* 更改为任何你喜欢的颜色 */


    /* 添加一些内边距以便文本看起来更舒适 */
    padding: 0 10px;
}

body.vscode-dark #editNodeContainer button {
    border: none;
    border-radius: 2px;
    box-shadow: none;
    background-color: #0E639C;
    color: #FFFFFF;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

body.vscode-dark #editNodeContainer button:hover {
    background-color: #1177BB;
}

body.vscode-dark #editNodeContainer button:focus {
    background-color: #1177BB;
    outline-color: #1177BB;
    outline-style: double;
    outline-width: 3px;
}

body.vscode-dark #editNodeContainer select {
    margin: 5px;
    background-color: #3C3C3C;
    width: 70px;
    color: #CCCCCC;
    height: 26px;
    border: none;
    box-shadow: none;
    outline-color: #007FD4;
    outline-width: 1px;
    border-radius: 2px;
}

body.vscode-dark #editNodeContainer #buttons {
    margin-top: 10px;
    padding: 12px;
}

body.vscode-dark #editNodeContainer #buttons #save {
    width: 50px;
    float: right;
}

body.vscode-dark #editNodeContainer #buttons #quit {
    width: 50px;
    float: right;
}